@{
}

<!-- Main content -->
<section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="@ViewBag.User.FotoUrl" alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">@ViewBag.User.UserName</h3>

                        <p class="text-muted text-center">@ViewBag.User.NickName</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Perfil</b> <a class="float-right">Expressivo</a>
                            </li>
                        </ul>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Atividades Recentes</a></li>
                            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Enviar Atualização</a></li>
                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Editar Conta</a></li>
                        </ul>
                    </div>
                    <!-- /.card-header -->
                    
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <!-- Post -->
                                <div class="post">
                                    @foreach (var i in ViewBag.getAtualizacao)
                                    {
                                        <div class="user-block">
                                            <img class="img-circle img-bordered-sm" src="@ViewBag.User.FotoUrl" alt="user image">
                                            <span class="username">
                                                <a href="#">@ViewBag.User.UserName.</a>
                                            </span>

                                        </div>

                                        <!-- /.user-block -->
                                        <p>
                                            <b>Atualização feita em DD/MM/YYYY</b>
                                        </p>
                                        <p>
                                            <b>Nome do cliente:</b> Nome do cliente
                                        </p>
                                        <p>
                                            <b>Status:</b> Status de compra
                                        </p>
                                        
                                    }

                                </div>
                                <!-- /.post -->
                            
                                
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="timeline">
                                <!-- Formulário de Enviar Atualização -->
                                <form class="form-horizontal" asp-controller="Atualizacao" asp-action="EnviarAtualizacao">
                                    <div class="form-group row">
                                        <label for="cpf_atendente" class="col-sm-2 col-form-label">cpf_atendente</label>
                                        <div class="col-sm-10">
                                            <input name="cpf_atendente" type="text" class="form-control" id="cpf_atendente" placeholder="cpf_atendente">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cpf_cliente" class="col-sm-2 col-form-label">cpf_cliente</label>
                                        <div class="col-sm-10">
                                            <input name="cpf_cliente" type="text" class="form-control" id="cpf_cliente" placeholder="Microplásticos">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary">Enviar Atualização</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="settings">
                                <form class="form-horizontal" asp-controller="User" asp-action="EditarPerfil">
                                    <input name="id" type="number" value="@ViewBag.User.Id" hidden />
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Nome</label>
                                        <div class="col-sm-10">
                                            <input name="UserName" type="text" class="form-control" id="inputName" value="@ViewBag.User.UserName">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-sm-2 col-form-label">E-mail</label>
                                        <div class="col-sm-10">
                                            <input name="UserEmail" type="email" class="form-control" id="inputEmail" value="@ViewBag.User.UserEmail">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName2" class="col-sm-2 col-form-label">Organização</label>
                                        <div class="col-sm-10">
                                            <input name="NickName" type="text" class="form-control" id="inputName2" value="@ViewBag.User.NickName">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputSkills" class="col-sm-2 col-form-label">Foto de Perfil</label>
                                        <div class="col-sm-10">
                                            <input name="FotoUrl" type="text" class="form-control" id="inputSkills" placeholder="Coloque uma URL para atualizar sua imagem">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-danger">Atualizar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
